body {margin: 0; padding:0;width:100%;height:100%;font-family: 幼圆;text-align: center;}

table {margin: auto;border: 1px solid #008040; width: 90%; border-radius: 5px;text-align: left;table-layout: fixed;word-break:break-all; word-wrap:break-all;text-align: center;}
